
    <div class="row">
        <div class="col-3" *ngIf="showGamesMenu">
    <ul class="list-group" >
        <li class="list-group-item"><a routerLink="1" (click)="hideGamesMenu()"> Game 1 </a></li>
        <li class="list-group-item"><a routerLink="2" (click)="hideGamesMenu()"> Game 2 </a></li>
    </ul>
        </div>
        <div class="col-3"> 
            <router-outlet (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"></router-outlet>
        </div>
        
    </div>
    

